$text: #39354c;
$lightWhite: #faf8f8;
$orange: #fdac16;

// FontFamilies
@import url("./font.scss");
// Mixins
@import "Mixins";

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 500 14px "Borna";
  color: $text;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 1000;
  background-color: rgba($color: #fff, $alpha: 0.5);

  .navbar_logo_link {
    display: none;

    & + hr {
      display: none;
    }

    .navbar_logo {
      max-width: 128px;
    }
  }

  .navbar {
    transition: padding 0.2s;
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1001;
    padding-inline: 15px;

    &.extended {
      padding-top: 30px;
    }

    .navbar-inner {
      display: flex;
      align-items: center;
      gap: 15px;

      &:nth-child(2) {
        a {
          display: flex;
        }

        svg {
          max-width: 24px;
        }
      }
    }

    .horizontal-line {
      height: 75%;
      border: 1px solid $text;
      border-radius: 4px;
    }
  }

  .dropdown-toggler {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .dropdown {
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    height: 100vh;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $lightWhite;

    &.dropdown-enter-from {
      transform: translateX(100%);
    }

    &.dropdown-enter-active,
    &.dropdown-leave-active {
      transition: all 0.35s ease-in-out;
    }

    &.dropdown-leave-to {
      transform: translateX(100%);
    }

    .dropdown-parent_category {
      h4 {
        display: inline-block;
        margin-bottom: 15px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
          color: rgba($color: $text, $alpha: 0.5);

          &:hover {
            color: $text;
          }
        }
      }
    }

    .dropdown-close_btn {
      position: absolute;
      top: 30px;
      left: 15px;
      cursor: pointer;
    }
  }
}

.home-view {
  padding-top: 100px;

  .categories-showcase {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: 150vh;
    gap: 30px;
    margin-bottom: 100px;
    padding-inline: 15px;

    article {
      border-radius: 32px;
      overflow: hidden;

      .showcase-overlay {
        display: flex;
        align-items: end;
        padding: 25px;
        background-color: rgba($color: $text, $alpha: 0.25);
        height: 100%;

        a {
          @include Text(500, 22px, 33px);
          color: white;
        }
      }
    }

    .showcase0 {
      background: transparent url("/public/images/WeldingMachineShowcase.png")
        center/cover no-repeat;
    }

    .showcase1 {
      background: transparent
        url("/public/images/CategoriesShowcase_Toolbox.svg") center/cover
        no-repeat;
    }

    .showcase3 {
      background: transparent url("/public/images/PowerGeneratorShowcase.jpg")
        center/cover no-repeat;
    }

    .showcase2 {
      background: transparent url("/public/images/BlowerShowcase.jfif")
        center/cover no-repeat;
    }
  }

  .categories-slider {
    padding-inline: 15px;

    h3 {
      @include Text(600, 22px, 33px);
    }

    .swiper {
      background-color: $lightWhite;
      padding: 25px;
      border-radius: 32px;

      .swiper-pagination-bullet {
        margin-inline: 2px;
        background-color: rgba($color: $text, $alpha: 0.5);
      }

      .swiper-pagination-bullet-active {
        background-color: $orange;
        scale: 1.2;
      }

      .swiper-wrapper {
        margin-bottom: 30px;

        .swiper-slide {
          &:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            min-height: 310px;
          }

          .card {
            background: linear-gradient(
              to top,
              rgba($color: $text, $alpha: 0.25),
              transparent
            );
            min-height: 310px;
            position: relative;
            border-radius: 16px;
            display: flex;
            align-items: end;
            padding: 50px 15px;

            .card-title {
              @include Text(500, 16px, 24px);
              color: #fff;
            }

            a {
              position: absolute;
              bottom: 0;
              right: 0;
              background-color: $lightWhite;
              border-radius: 16px 0 0 0;
              padding: 7px 25px;

              &:hover {
                color: $orange;
              }

              &::after {
                content: "";
                position: absolute;
                top: -36px;
                right: 0px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                box-shadow: 16px 16px 0 0 $lightWhite;
              }

              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: -36px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                box-shadow: 16px 16px 0 0 $lightWhite;
              }
            }
          }
        }
      }
    }
  }

  .free_delivery {
    background-color: rgba($color: $orange, $alpha: 0.1);
    margin-top: 100px;

    .free_delivery-inner {
      padding-block: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      h3,
      span {
        @include Text(600, 18px, 27px);

        span {
          color: $orange;
        }
      }

      p {
        background-color: $orange;
        display: inline-block;
        color: #fff;
        padding: 5px 25px;
        border-radius: 8px;
      }
    }
  }

  .banner-2x2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 100px;
    padding-inline: 15px;

    img {
      width: 100%;
      border-radius: 32px;
    }
  }

  .featured_products-container {
    margin-block: 100px;
    padding-inline: 15px;

    .featured_products-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .featured_products-options {
        display: flex;
        align-items: center;
        gap: 15px;

        hr {
          height: 75%;
        }

        button {
          color: rgba($color: $text, $alpha: 0.5);

          &.active {
            color: $text;
          }
        }
      }
    }

    img {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .fluid_banner {
    padding-inline: 15px;

    a {
      display: flex;
      border-radius: 32px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .three_columned_list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-block: 100px;
    padding-inline: 15px;

    .most_off-container,
    .most_rate-container,
    .most_sale-container {
      //max-height: fit-content !important;

      .most_off-header,
      .most_rate-header,
      .most_sale-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }
    }

    .swiper {
      max-height: 564px;

      .swiper-slide {
        height: 100%;
        max-height: 178px !important;
      }
    }
  }

  .monthly_off-container {
    background-color: $lightWhite;

    .monthly_off-inner {
      padding: 30px 15px;
      display: flex;
      flex-direction: column-reverse;
      gap: 15px;

      .monthly_off-description {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      p,
      p:has(span) span {
        span {
          color: $orange !important;
        }
      }

      h3,
      h3:has(span) span {
        @include Text(600, 18px, 27px);
      }

      .countdown {
        display: flex;
        flex-direction: column;
        gap: 15px;

        section {
          padding: 15px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
          background: #fff;
          box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);

          h6 {
            @include Text(600, 22px, 33px);
            color: $orange;
          }
        }
      }

      .monthly_off-img_container {
        position: relative;

        img {
          width: 100%;
          aspect-ratio: 16/9;
        }

        span {
          position: absolute;
          top: 15px;
          right: 15px;
          @include Text(700, 18px, 27px);
          color: $orange;
        }
      }
    }
  }

  .banner_1x2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-block: 100px;
    padding-inline: 15px;

    .product_banner-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      background-color: $lightWhite;
      border-radius: 32px;
      padding: 15px;
      gap: 30px;

      img {
        margin: 0 auto;
        max-width: 256px;
      }

      .product_banner-category {
        color: rgba($color: $text, $alpha: 0.5);
      }

      .product_banner-name,
      .product_banner-name:has(span) span {
        margin-block: 5px;
        @include Text(600, 18px, 27px);
      }

      a {
        display: inline-flex;
        gap: 5px;
        color: $orange;
      }
    }
  }

  .partners {
    margin-bottom: 100px;
    padding-inline: 15px;

    .partners-header {
      text-align: center;
    }

    .swiper {
      padding: 25px 30px;

      .swiper-slide {
        text-align: center;
      }

      .swiper-button-prev,
      .swiper-button-next {
        color: $orange;
        --swiper-navigation-size: 21px;
      }
    }
  }

  .newsletter-container {
    background-image: url("/public/images/NewsletterBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 90px;

    .newsletter-inner {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 100%;
      padding-inline: 15px;

      h3 {
        color: #fff;
        @include Text(600, 22px, 33px);
      }

      .input_group {
        button {
          white-space: nowrap;
        }
      }
      p {
        color: #fff;
        @include Text(400, 14px, 21px);
      }
    }
  }
}

// HorizontalCard.vue
.horizontal_card-container {
  background-color: $lightWhite;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  padding: 15px;

  .horizontal_card-img {
    width: 100%;
    max-width: 148px;
    border-radius: 8px;
  }

  .horizontal_card-description {
    .horizontal_card-name_brand-container {
      .horizontal_card-name {
        @include Text(500, 16px, 24px);
      }

      .horizontal_card-brand {
        color: rgba($color: $text, $alpha: 0.5);
      }
    }

    .horizontal_card-rating {
      margin-block: 10px 15px;
    }

    .horizontal_card-price {
      .horizontal_card-new_price {
        @include Text(500, 16px, 24px);
      }

      .horizontal_card-old_price_off {
        display: flex;
        gap: 10px;

        .horizontal_card-old_price {
          color: rgba($color: $text, $alpha: 0.5);
          text-decoration: line-through;
        }

        .horizontal_card-off {
          font-weight: 600;
          color: $orange;
        }
      }
    }
  }
}

// TheFooter.vue
footer {
  background-color: $lightWhite;

  .footer-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 30px 15px;

    .footer_logo,
    .section-title {
      margin-bottom: 15px;
      display: inline-block;
    }

    section ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        &:hover {
          color: $orange;
        }
      }
    }
  }

  .footer-copyright {
    text-align: center;
    background-color: #fff;
    padding: 15px 0;
  }
}

// Global Styles
.input_group {
  display: flex;
  gap: 15px;
  width: 100%;

  &.col {
    display: flex;
    flex-direction: column;
  }

  button {
    background-color: $orange;
    padding: 10px 25px;
    border-radius: 4px;
    color: #fff;
  }

  input {
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding-inline: 10px;
    outline: 0;
    min-height: 45px;

    &::placeholder {
      color: rgba($color: $text, $alpha: 0.5);
      transition: padding 0.15s;
    }

    &:focus {
      &::placeholder {
        padding-right: 7px;
      }
    }
  }
}
.text-orange {
  color: $orange;
}

.text-muted {
  color: rgba($color: $text, $alpha: 0.5);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;

  &.btn-primary {
    background-color: $orange;
    color: #fff;
    padding: 7px 15px;
    border-radius: 8px;
  }
  &[disabled] {
    cursor: default;
  }
}

.section-title {
  position: relative;
  font-size: 16px;
  display: inline;

  &:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: $text;
    right: 0;
    bottom: 0;
  }

  &.orange {
    &::after {
      background-color: $orange;
    }
  }

  &.center {
    &::after {
      right: 50%;
      transform: translateX(50%);
    }
  }

  &.large {
    @include Text(600, 22px, 33px);
  }
}

.line-through {
  position: relative;
  width: 100%;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $orange;
    z-index: -1;
  }
}

hr.line-orange {
  border: 1px solid $orange;
}

.vertical_card-base {
  width: 100%;
  //max-width: 380px;
  background-color: $lightWhite;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .vertical_card-image_container {
    position: relative;

    img {
      width: 100%;
      border-radius: 8px;
    }

    .off_percentage {
      position: absolute;
      right: 15px;
      top: 15px;
      color: $orange;
      @include Text(600, 16px, 24px);
    }
  }

  .vertical_card-header {
    .vertical_card-heading {
      h5 {
        margin-bottom: 5px;
        @include Text(600, 16px, 24px);
      }

      span {
        font-weight: 400;
        color: rgba($color: $text, $alpha: 0.5);
      }
    }
  }

  .vertical_card-footer,
  .vertical_card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .vertical_card-footer {
    .vertical_card-price {
      .vertical_card-new_price {
        @include Text(600, 16px, 24px);
      }

      .vertical_card-old_price {
        color: rgba($color: $text, $alpha: 0.5);
        text-decoration: line-through;
      }
    }

    .vertical_card-actions {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}

.arrows-hr,
.arrows-vr {
  display: flex;
  gap: 7px;

  button {
    background-color: $lightWhite;
    border-radius: 4px;
  }
}

.arrows-vr {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.ltr {
  text-align: right !important;
  direction: ltr;
}

// ProductsList.vue
.products_list-view {
  padding-top: 100px;
  .products_list-header {
    background-color: $lightWhite;
    .products_list_header-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-block: 60px;

      .products_list-heading {
        h3 {
          @include Text(600, 28px, 42px);
        }
        p {
          @include Text(500, 16px, 24px);
        }
      }

      img {
        display: none;
      }
    }
  }

  .products_list-body {
    margin-top: 100px;
    padding-inline: 15px;
    .products_list-result_and_view_type {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .products_list-view_type {
        display: flex;
        gap: 5px;
        button {
          svg {
            path {
              fill: $text;
            }
          }
          &:hover {
            svg path {
              fill: $orange;
            }
          }
          &.active {
            svg path {
              fill: $orange;
            }
          }
        }
      }
    }

    .products_list-filter_tags {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;
      flex-wrap: wrap;
      button {
        background-color: $lightWhite;
        padding: 5px 15px;
        border-radius: 6px;
        font-weight: 400;
        &.active {
          background-color: $orange;
          color: #fff;
        }
      }
    }
    .products_list-list {
      display: grid;
      gap: 30px;
      margin-bottom: 30px;
      &[data-view="grid"] {
        grid-template-columns: repeat(1, 1fr);
      }
      &[data-view="list"] {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .products_list-paginations {
      margin-bottom: 100px;
      display: flex;
      align-items: center;
      gap: 10px;
      .products_list_pagination-inner {
        display: flex;
        gap: 10px;
        button {
          width: 100%;
          width: 32px;
          aspect-ratio: 1/1;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $lightWhite;
          &.active {
            background-color: $orange;
            color: #fff;
          }
        }
      }
    }
  }
}

// Components
// Products/CardBase
.product_card_base-container {
  background-color: $lightWhite;
  padding: 15px;
  border-radius: 16px;
  .product_card_base-image_container {
    img {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 8px;
    }
  }
  &.list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .product_card_base-header {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .product_card_base-body {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      .product_card_base-footer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .product_card_base-actions {
          display: flex;
          gap: 5px;
        }
      }
    }

    @media (width > 576px) {
      &.list {
        flex-direction: row;
        align-items: center;

        .product_card_base-image_container {
          img {
            width: 100%;
            max-width: 420px;
          }
        }
        .product_card_base-body {
          gap: 15px;
        }
        .product_card_base-header {
          gap: 5px;
          flex-direction: row;
          justify-content: space-between;
        }
        .product_card_base-footer {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
  &.grid {
    .product_card_base-image_container {
      margin-bottom: 15px;
    }

    .product_card_base-header {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .product_card_base-body {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .product_card_base-footer {
      flex-direction: column;
      gap: 5px;
    }
    @media (width > 576px) {
      &.grid {
        .product_card_base-image_container {
          img {
            aspect-ratio: 16/9;
            border-radius: 8px;
          }
          margin-bottom: 15px;
        }

        .product_card_base-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: start;
        }

        .product_card_base-body {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        .product_card_base-footer {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }

  .product_card_base-title {
    @include Text(600, 16px, 24px);
    display: block;
  }
  .product_card_base-seller {
    font-weight: 400;
  }
  .product_card_base-rating {
    display: flex;
  }

  .product_card_base-footer {
    display: flex;
    justify-content: space-between;

    .product_card_base-actions {
      display: flex;
      align-items: start;
      gap: 5px;
    }
    .product_card_base-price {
      .product_card_base-new_price {
        // margin-bottom: 5px;
        @include Text(500, 16px, 24px);
      }

      .product_card_base-old_price {
        text-decoration: line-through;
        text-decoration-color: rgba($color: $text, $alpha: 0.25);
      }
      section {
        display: flex;
        gap: 5px;
        .product_card_base-off_percent {
          font-weight: 600;
          color: $orange;
        }
      }
    }
  }
}

// ProductDetails.vue
.product_details-view {
  padding-top: 100px;

  .product_details_view-inner {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    align-items: start;
    gap: 30px;
    margin-bottom: 100px;
    .right_side {
      background-color: $lightWhite;
      padding: 25px;
      border-radius: 16px;
      h3 {
        @include Text(600, 22px, 33px);
      }
      .product_details-seller {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          @include Text(500, 16px, 24px);
        }
      }

      .product_details-price_container {
        margin-block: 30px;
        .product_details-new_price {
          color: $orange;
          @include Text(500, 24px, 36px);
        }

        .product_details-old_price_container {
          display: flex;
          gap: 10px;
          .product_details-old_price {
            text-decoration: line-through;
            text-decoration-color: rgba($color: $text, $alpha: 0.25);
          }
          .product_details-off_percent {
            color: $orange;
          }
        }
      }

      .product_details-description {
        text-align: justify;
        font-weight: 400;
      }

      .product_details-user_options {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .product_details_user_options-group {
          .product_details_user_options_group-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            h6 {
              @include Text(500, 16px, 24px);
            }
          }

          .product_details_user_options_group-body {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;

            .text-muted {
              border: 1px solid rgba($color: $text, $alpha: 0.25);
              padding: 7px 15px;
              border-radius: 8px;
              &.active {
                color: $orange;
                border-color: $orange;
              }
            }
          }
          &.qty {
            .qty_input {
              display: flex;
              align-items: center;
              button {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $orange;
                &:first-child {
                  border-radius: 0 4px 4px 0;
                }
                &:last-child {
                  border-radius: 4px 0 0 4px;
                }
              }
              input {
                width: 100%;
                max-width: 80px;
                min-height: 40px;
                background-color: #fff;
                border: 1px solid $orange;
                padding: 0 10px;
                outline: 0;
                border-radius: 0;
              }
            }

            .product_details_user_options_group-body {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .add_to_cart_btn {
                display: flex;
                align-items: center;
                gap: 10px;
              }
            }
          }
        }
      }
    }
    .left_side {
      .product_details-image_container {
        display: flex;
        justify-content: center;
        .product_details-image {
          width: 100%;
          aspect-ratio: 16/9;
        }
      }

      .left_side-description {
        background-color: $lightWhite;
        padding: 25px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .left_side_description-header {
          display: flex;
          gap: 10px;
        }

        .left_side_description-group {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 15px;
          p {
            text-align: justify;
          }
          &.table {
            .table-row {
              margin-bottom: 10px;
              display: grid;
              grid-template-columns: 0.3fr 1fr;
              width: 100%;
              p {
                border-bottom: 1px dashed rgba($color: $text, $alpha: 0.1);
                padding-bottom: 15px;
              }
            }
          }

          &.users_comments {
            .comment_item {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 5px;
              .comment_item-author_and_rate {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h6 {
                  @include Text(500, 16px, 24px);
                }

                .comment_item-rating {
                  display: flex;
                  li {
                    display: flex;
                  }
                }
              }
              .comment_item-title_and_date {
                display: flex;
                justify-content: space-between;
                span {
                  font-weight: 400;
                }
              }
            }
          }
          &.post_comments {
            .comments_form {
              width: 100%;
              .comments_form-input {
                position: relative;
                button {
                  position: absolute;
                  bottom: 15px;
                  left: 15px;
                }
                textarea {
                  width: 100%;
                  resize: vertical;
                  padding: 15px;
                  border-radius: 8px;
                  border: 0;
                  outline: 0;
                  min-height: 200px;
                  height: 100%;
                  padding-bottom: 50px;
                  &::placeholder {
                    color: rgba($color: $text, $alpha: 0.5);
                    transition: padding 0.15s;
                  }
                  &:focus {
                    &::placeholder {
                      padding-right: 7px;
                    }
                  }
                }
              }

              .comment_form-rating {
                display: flex;
                justify-content: space-between;
                .comment_item-rating {
                  display: flex;
                  direction: ltr;
                }
              }
            }
          }
        }
      }
    }
  }
}
// Dashboard.vue
.dashboard-view {
  padding-top: 100px;
  padding-inline: 15px;
  header {
    margin-bottom: 30px;
    nav {
      position: relative;
      .navbar_toggler,
      a {
        width: 100%;
        background-color: $lightWhite;
        border-radius: 16px;
        display: block;
        padding-block: 15px;
        text-align: center;
        font-weight: 600;
        &.active,
        &:hover {
          background-color: $orange;
          color: #fff;
          svg path {
            fill: #fff;
          }
        }
      }
      .navbar_toggler {
        margin-bottom: 15px;
        svg {
          vertical-align: middle;
        }
      }
      ul {
        display: grid;
        grid-template-columns: 1fr;
        transition: all 0.3s;
        gap: 15px;
        position: absolute;
        width: 100%;
        opacity: 1;
        z-index: 100;
        background-color: $lightWhite;
        border-radius: 16px;
        &.navbar-enter-from,
        &.navbar-leave-to {
          opacity: 0;
          transform: translateY(-20px);
        }
      }
    }
  }
  .user_account-view {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    .input_group {
      align-items: start;
      input {
        background-color: $lightWhite;
      }
    }
    .addresses-container {
      .addresses-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        svg {
          background-color: $lightWhite;
          border-radius: 4px;
        }
      }
      .addresses-body {
        margin-bottom: 100px;
        .addresses_item-container {
          background-color: $lightWhite;
          padding: 15px;
          border-radius: 16px;

          .addresses_item-header {
            display: flex;
            justify-content: space-between;
            h5 {
              @include Text(500, 16px, 24px);
              margin-bottom: 15px;
            }
            .addresses_item-actions {
              gap: 15px;
              display: none;
              align-items: center;
            }
          }

          &:hover {
            section.addresses_item-actions {
              display: flex;
            }
          }
        }
      }
    }
  }

  // ShoppingCart.vue
  .shopping_cart-container {
    display: flex;
    flex-direction: column-reverse;
    // display: grid;
    // grid-template-columns: 0.5fr 1fr;
    // align-items: start;

    gap: 30px;
    margin-bottom: 100px;
    .shopping_cart-receipt {
      background-color: $lightWhite;
      padding: 25px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .shopping_cart-coupan {
        display: flex;
        gap: 15px;
        button {
          min-width: fit-content;
        }
        input {
          width: 100%;
          border: 0;
          padding: 0 5px;
          outline: 0;
          border-radius: 8px;
        }
      }

      hr {
        background-image: linear-gradient(
          to right,
          rgba($color: $text, $alpha: 0.25) 60%,
          rgba(255, 255, 255, 0) 0%
        );
        background-position: bottom;
        background-size: 10px 1px;
        background-repeat: repeat-x;
        height: 1px;
        border: none;
      }
      .shopping_cart_receipt-products {
        display: flex;
        flex-direction: column;
        gap: 30px;
        li {
          display: flex;
          justify-content: space-between;
          gap: 30px;
          span {
            min-width: fit-content;
          }
        }
      }
      .btn-checkout {
        text-align: center;
        padding-block: 12px;
        justify-content: center;
      }
    }
    .shopping_cart-products {
      display: flex;
      flex-direction: column;
      gap: 30px;
      li {
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        background-color: $lightWhite;
        border-radius: 16px;
        padding: 25px;
        .qty_input {
          display: flex;
          flex-direction: column;
          align-items: start;
          button {
            width: 32px;
            aspect-ratio: 1/1;
            padding: 0;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            &:first-child {
              border-radius: 4px 4px 0 0;
            }
            &:last-child {
              border-radius: 0 0 4px 4px;
            }
          }
          input {
            max-width: 32px;
            aspect-ratio: 1/1.5;
            text-align: center;
            outline: 0;
            border: 0;
          }
        }
        img {
          max-width: 200px;
          aspect-ratio: 1/1;
          display: none;
        }
        h4 {
          @include Text(600, 16px, 24px);
          margin-bottom: 15px;
        }
        .btn-close {
          position: absolute;
          top: 15px;
          left: 15px;
          border: 1px solid $orange;
          padding: 2px;
          border-radius: 100px;
        }
      }
    }
  }

  // FavoriteList.vue
  .favorite_list-container {
    background: $lightWhite;
    border-radius: 16px;
    margin-bottom: 100px;
    .favorite_list-inner {
      padding: 25px;
      overflow: auto;
      .favorite_list-header {
        min-width: 968px;
        display: grid;
        grid-template-columns: 0.8fr 1fr 0.6fr 0.5fr 0.6fr 0.4fr;
        gap: 15px;
        border-bottom: 1px solid rgba($color: $text, $alpha: 0.1);
        padding-bottom: 15px;
        h3 {
          @include Text(500, 16px, 24px);
        }
      }

      .favorite_list-list {
        min-width: 968px;
        padding-top: 15px;
        display: grid;
        gap: 15px;
        .favorite_list-item {
          display: grid;
          grid-template-columns: 0.8fr 1fr 0.6fr 0.5fr 0.6fr 0.4fr;
          gap: 15px;
          align-items: center;

          h4 {
            @include Text(500, 16px, 24px);
          }
          img {
            width: 100%;
            max-height: 100px;
            aspect-ratio: 16/9;
          }
          ul,
          .add_delete {
            display: flex;
          }
          .add_delete {
            gap: 15px;
            button {
              border-radius: 100px;
              padding: 4px;
              &:hover {
                background-color: $orange;
              }
              &[disabled] {
                svg path {
                  fill: red;
                  fill: rgba($color: $text, $alpha: 0.25);
                }
              }
            }
          }
          .in-stock {
            color: $orange;
          }
          .out-of-stock {
            color: rgba($color: $text, $alpha: 0.25);
          }
        }
      }
    }
  }

  // OrdersHistory.vue
  .orders_history-container {
    background-color: $lightWhite;
    border-radius: 16px;
    margin-bottom: 100px;
    .orders_history-inner {
      padding: 25px;
      overflow: auto;
      .orders_history-header {
        min-width: 768px;
        display: grid;
        grid-template-columns: 0.5fr 0.8fr 1fr 1.5fr 1fr 0.7fr;
        gap: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($color: $text, $alpha: 0.1);
        h3 {
          @include Text(500, 16px, 24px);
        }
      }
      .orders_history-body {
        min-width: 768px;
        padding-top: 15px;
        li {
          display: grid;
          grid-template-columns: 0.5fr 0.8fr 1fr 1.5fr 1fr 0.7fr;

          gap: 15px;
          h4 {
            color: rgba($color: $text, $alpha: 0.5);
          }
        }
      }
    }
  }
}

// Media Queries
@media (width > 430px) {
  .main-header {
    .navbar_logo_link {
      display: flex;

      & + hr {
        display: block;
      }
    }
  }
}

@media (width > 576px) {
  ul.dropdown {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main.home-view {
    .categories-showcase {
      min-height: 100vh;
      grid-template-columns: repeat(2, 1fr);
    }

    .free_delivery-inner.container {
      h3,
      span {
        @include Text(600, 24px, 36px);
      }

      p {
        @include Text(500, 16px, 24px);
      }
    }

    .featured_products-container {
      .featured_products-header {
        .featured_products-options {
          button {
            @include Text(500, 16px, 24px);
          }
        }
      }
    }

    .monthly_off-container {
      .monthly_off-description {
        p,
        p:has(span) span {
          @include Text(500, 16px, 24px);
        }

        h3,
        h3:has(span) span {
          @include Text(600, 24px, 36px);
        }
      }

      section.countdown {
        display: flex;
        flex-direction: row !important;
        margin: 0 auto;

        section {
          width: 72px;
          height: 72px;
        }
      }
    }

    .banner_1x2 {
      .product_banner-container {
        .product_banner-name,
        .product_banner-name:has(span) span {
          @include Text(600, 22px, 33px);
        }
      }
    }
  }

  // TheFooter.vue
  footer {
    .footer-inner {
      grid-template-columns: repeat(2, 1fr);

      .company_description {
        grid-column: 1/3;
      }
    }
  }

  // ProductsList.vue
  main.products_list-view {
    .products_list-header .products_list_header-inner {
      padding-block: 0;
      text-align: right;
      justify-content: space-between;
      padding: 30px 15px;
      img {
        display: block;
        max-height: 200px;
      }
    }
  }

  .dashboard-view {
    .shopping_cart-container {
      .shopping_cart-receipt {
        .shopping_cart_receipt-products {
          h4 {
            @include Text(500, 16px, 24px);
          }
        }
      }
    }
  }
}

@media (width > 620px) {
  .banner-2x2.container {
    grid-template-columns: repeat(2, 1fr);
  }

  main.products_list-view {
    .products_list-body {
      .products_list-list {
        &[data-view="grid"] {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (width > 768px) {
  ul.dropdown {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main.home-view {
    .monthly_off-container {
      .monthly_off-inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .countdown {
          display: flex;
          flex-direction: row !important;
          margin: 0 auto;

          section {
            width: 72px;
            height: 72px;
          }
        }
      }
    }

    .banner_1x2 {
      .product_banner-container {
        flex-direction: row;
        align-items: center;

        img {
          margin: 0;
        }
      }
    }
  }

  .dashboard-view {
    header {
      nav {
        .navbar_toggler {
          display: none;
        }
        ul {
          grid-template-columns: repeat(4, 1fr);
          background-color: transparent;
          position: static;
        }
      }
    }
    .user_account-view {
      grid-template-columns: repeat(2, 1fr);

      .addresses-container {
        grid-column: 1/3;
      }
    }
  }
}

@media (width > 968px) {
  ul.dropdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  main.home-view {
    .banner_1x2.container {
      grid-template-columns: repeat(2, 1fr);

      .product_banner-container {
        flex-direction: column-reverse;
        align-items: start;

        img {
          margin: 0 auto;
        }
      }
    }
  }

  // TheFooter.vue
  footer {
    .footer-inner {
      grid-template-columns: repeat(3, 1fr);

      .company_description {
        grid-column: initial;
      }
    }
  }

  main.products_list-view {
    .products_list-body {
      .products_list-list {
        &[data-view="grid"] {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
  .dashboard-view {
    .shopping_cart-container {
      display: grid;
      grid-template-columns: 0.7fr 1fr;
      .shopping_cart-receipt {
        .shopping_cart_receipt-products {
          h4 {
            @include Text(500, 16px, 24px);
          }
        }
      }
    }
  }
}

@media (width > 1200px) {
  header {
    svg {
      max-width: none !important;
    }

    .navbar {
      padding-inline: 0;
    }

    ul.dropdown {
      height: initial;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 30px;
      background-color: $lightWhite;
      padding: 25px;
      position: absolute;
      bottom: -543px;
      top: initial;
      border-radius: 16px;
      box-shadow: 0 10px 20px rgba($color: $text, $alpha: 0.1);

      &.dropdown-enter-from {
        transform: translateY(30px);
        opacity: 0;
      }

      &.dropdown-enter-active,
      &.dropdown-leave-active {
        transition: all 0.35s ease-out;
      }

      &.dropdown-leave-to {
        transform: translateY(30px);
        opacity: 0;
      }

      .dropdown-close_btn {
        display: none;
      }
    }
  }

  main.home-view {
    .categories-showcase {
      min-height: initial;
      height: 100vh;
      max-height: 450px;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding-inline: 0;

      .showcase0 {
        grid-column: 1/4;
        grid-row: 1/3;
      }

      .showcase1 {
        grid-column: 4/8;
        grid-row: 1/3;
      }

      .showcase2 {
        grid-column: 8/11;
        grid-row: 1/2;
      }

      .showcase3 {
        grid-column: 8/11;
        grid-row: 2/3;
      }
    }

    .categories-slider {
      padding-inline: 0;
    }

    .banner-2x2 {
      padding-inline: 0;
    }

    .fluid_banner {
      padding-inline: 0;
    }

    .three_columned_list-container {
      grid-template-columns: repeat(3, 1fr);
    }

    .monthly_off-container {
      .monthly_off-inner {
        padding-inline: 0;
      }
    }

    .banner_1x2.container {
      padding-inline: 0;

      section.product_banner-container {
        flex-direction: row;
        align-items: center;

        img {
          margin: 0;
        }
      }
    }

    .partners {
      padding-inline: 0;
    }

    .newsletter-container {
      .newsletter-inner {
        padding-inline: 0;
      }

      input {
        max-width: 270px;
      }
    }
  }

  main.products_list-view {
    .products_list_header-inner {
      padding-inline: 0;
    }

    .products_list-body {
      padding-inline: 0;
    }
  }

  .dashboard-view {
    padding-inline: 0;
  }

  .dashboard-view {
    .shopping_cart-container {
      grid-template-columns: 0.5fr 1fr;
    }

    .shopping_cart-container {
      .shopping_cart-products {
        li {
          img {
            display: block;
          }
        }
      }
    }
  }
}
