$text: #39354c;
$lightWhite: #faf8f8;
$orange: #fdac16;

// FontFamilies
@import url("./font.scss");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 500 14px "Borna";
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 1000;
  background-color: rgba($color: #fff, $alpha: 0.5);
  .navbar {
    transition: padding 0.2s;
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1001;
    &.extended {
      padding-top: 30px;
    }
    ul.navbar-inner {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .horizontal-line {
      height: 85%;
      border: 1px solid $text;
    }
  }

  .dropdown-toggler {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  ul.dropdown {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    background-color: $lightWhite;
    padding: 25px;
    position: absolute;
    bottom: -483px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba($color: $text, $alpha: 0.1);

    &.dropdown-enter-from {
      transform: translateY(30px);
      opacity: 0;
    }
    &.dropdown-enter-active {
      transition: all 0.25s ease-out;
    }
    &.dropdown-leave-active {
      transition: all 0.25s ease-in;
    }
    &.dropdown-leave-to {
      transform: translateY(30px);
      opacity: 0;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 15px;
      a {
        color: rgba($color: $text, $alpha: 0.5);
        font-size: 14px;
        &:hover {
          color: $text;
        }
      }
    }
  }
}

.home-view {
  min-height: 200vh;
  padding-top: 100px;
  .categories-showcase {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 80vh;
    gap: 30px;
    margin-bottom: 100px;
    article {
      border-radius: 32px;
      overflow: hidden;
      background-color: $lightWhite;
      .showcase-overlay {
        display: flex;
        align-items: end;
        padding: 25px;
        background: linear-gradient(
          to top,
          rgba($color: $text, $alpha: 0.5),
          rgba($color: $text, $alpha: 0.5)
        );
        height: 100%;
        a {
          font-size: 22px;
          line-height: 33px;
          color: white;
        }
      }
    }
    .showcase1 {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    .showcase2 {
      grid-column: 3/8;
      grid-row: 1/3;
      background: transparent url("/images/CategoriesShowcase_Toolbox.svg")
        center/cover no-repeat;
    }
    .showcase3 {
      grid-column: 8/11;
      grid-row: 1/2;
    }
    .showcase4 {
      grid-column: 8/11;
      grid-row: 2/3;
    }
  }

  .categories-slider {
    h3 {
      font-size: 22px;
      line-height: 33px;
      color: $text;
    }
    .swiper {
      background-color: $lightWhite;
      padding: 25px;
      border-radius: 32px;
      .swiper-pagination-bullet {
        margin-inline: 2px;
        background-color: rgba($color: $text, $alpha: 0.5);
      }

      .swiper-pagination-bullet-active {
        background-color: $orange;
        scale: 1.2;
      }

      .swiper-wrapper {
        margin-bottom: 30px;
        .swiper-slide {
          &:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            min-height: 310px;
          }

          .card {
            background: linear-gradient(
              to top,
              rgba($color: $text, $alpha: 0.25),
              transparent
            );
            min-height: 310px;
            position: relative;
            border-radius: 16px;
            display: flex;
            align-items: end;
            padding: 50px 15px;
            .card-title {
              font-size: 16px;
              line-height: 24px;
              color: #fff;
            }

            a {
              position: absolute;
              bottom: 0;
              right: 0;
              background-color: $lightWhite;
              border-radius: 16px 0 0 0;
              padding: 7px 25px;
              color: $text;

              &:hover {
                color: $orange;
              }
              &::after {
                content: "";
                position: absolute;
                top: -36px;
                right: 0px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                box-shadow: 16px 16px 0 0 $lightWhite;
              }
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: -36px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                box-shadow: 16px 16px 0 0 $lightWhite;
              }
            }
          }
        }
      }
    }
  }

  .free_delivery {
    background-color: rgba($color: $orange, $alpha: 0.1);
    margin-top: 100px;
    .free_delivery-inner {
      padding-block: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      h3,
      span {
        font-size: 24px;
        line-height: 38px;
        font-weight: 600;
        color: $text;
        span {
          color: $orange;
        }
      }
    }
  }

  .banner-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 100px;
    img {
      width: 100%;
      border-radius: 32px;
    }
  }

  .featured_products-container {
    margin-block: 100px;
    .featured_products-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      .featured_products-options {
        display: flex;
        align-items: center;
        gap: 15px;
        hr {
          height: 75%;
        }

        button {
          color: rgba($color: $text, $alpha: 0.5);
          font-size: 16px;
          line-height: 24px;
          &.active {
            color: $text;
          }
        }
      }
    }
  }

  .fluid-banner {
    display: block;
    img {
      border-radius: 32px;
    }
  }

  .three_columned_list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-block: 100px;
    .most_off-container,
    .most_rate-container,
    .most_sale-container {
      max-height: fit-content !important;
      .most_off-header,
      .most_rate-header,
      .most_sale-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }
    }
    .swiper {
      max-height: 564px;
      .swiper-slide {
        height: 100%;
        max-height: 178px !important;
      }
    }
  }

  .monthly_off-container {
    background-color: $lightWhite;
    .monthly_off-inner {
      padding: 25px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .monthly_off-description {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      p,
      p:has(span) span {
        font-size: 16px;
        line-height: 24px;
        color: $text;

        span {
          color: $orange;
        }
      }

      h3,
      h3:has(span) span {
        color: $text;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
      }
      .countdown {
        display: flex;
        gap: 30px;
        section {
          width: 72px;
          height: 72px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
          background: #fff;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          h6 {
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            color: $orange;
          }

          span {
            color: $text;
          }
        }
      }
      .monthly_off-img_container {
        position: relative;
        span {
          position: absolute;
          top: 15px;
          right: 15px;
          direction: ltr;
          font-size: 18px;
          font-weight: 700;
          line-height: 27px;
          color: $orange;
        }
      }
    }
  }
}

// HorizontalCard.vue
.horizontal_card-container {
  background-color: $lightWhite;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  padding: 15px;

  .horizontal_card-img {
    width: 100%;
    max-width: 148px;
    border-radius: 8px;
  }
  .horizontal_card-description {
    .horizontal_card-name_brand-container {
      .horizontal_card-name {
        font-size: 16px;
        line-height: 24px;
        color: $text;
      }
      .horizontal_card-brand {
        color: rgba($color: $text, $alpha: 0.5);
      }
    }

    .horizontal_card-rating {
      margin-block: 10px 15px;
    }

    .horizontal_card-price {
      .horizontal_card-new_price {
        font-size: 16px;
        line-height: 24px;
      }
      .horizontal_card-old_price_off {
        display: flex;
        gap: 10px;
        .horizontal_card-old_price {
          color: rgba($color: $text, $alpha: 0.5);
          text-decoration: line-through;
        }
        .horizontal_card-off {
          direction: ltr;
          font-weight: 600;
          color: $orange;
        }
      }
    }
  }
}
// Global Styles
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  &.btn-primary {
    background-color: $orange;
    color: #fff;
    padding: 7px 15px;
    border-radius: 8px;
  }
}

.section-title {
  position: relative;
  font-size: 16px;
  display: inline;
  &:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: $text;
    right: 0;
    bottom: 0;
  }
  &.orange {
    &::after {
      background-color: $orange;
    }
  }
}
.line-through {
  position: relative;
  width: 100%;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $orange;
    z-index: -1;
  }
  p {
    background: rgba($color: $orange, $alpha: 1);
    display: inline;
    color: #fff;
    padding: 5px 25px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
  }
}

hr.line-orange {
  border: 1px solid $orange;
}

.vertical_card-base {
  width: 100%;
  max-width: 380px;
  background-color: $lightWhite;
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .vertical_card-image_container {
    position: relative;
    img {
      width: 100%;
      border-radius: 8px;
    }
    .off_percentage {
      position: absolute;
      right: 15px;
      top: 15px;
      font-weight: 600;
      direction: ltr;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .vertical_card-header {
    .vertical_card-heading {
      h5 {
        font-size: 16px;
        line-height: 24px;
        color: $text;
        margin-bottom: 5px;
      }
      span {
        font-weight: 400;
        color: rgba($color: $text, $alpha: 0.5);
      }
    }
  }
  .vertical_card-footer,
  .vertical_card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .vertical_card-footer {
    .vertical_card-price {
      .vertical_card-new_price {
        font-size: 16px;
        line-height: 24px;
        color: $text;
      }
      .vertical_card-old_price {
        color: rgba($color: $text, $alpha: 0.5);
        text-decoration: line-through;
      }
    }
    .vertical_card-actions {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}

.arrows-hr,
.arrows-vr {
  display: flex;
  gap: 7px;
  button {
    background-color: $lightWhite;
    border-radius: 4px;
  }
}
.arrows-vr {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
